/* About-me - Begin */
.title-main {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: bold;
    color: #6d3aa8;
}

.title-secondary {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    font-style: normal;
    color: #734ca7;
}

.title-section {
  font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: normal;
    color:#734ca7;  
}

aside {
    background-color: #cabcfa;
    height: 100%;
    padding-left:10%;
}

.photo-profile  {
    width: 200px;   
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    float: left;
    margin: 0 auto;
}